:host {
  display: block;
}

.logo-accent {
  transition: all 300ms ease;
}

.logo:hover {
  letter-spacing: 0.07em;
}

.logo:hover .logo-accent {
  color: var(--color-coral);
}

.logo:hover span:not(.logo-accent) {
  color: var(--color-coral);
}